/* General Styles */
body {
    height: 100vh;
    font-family: "Arimo", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Optional: Set a background color */
}

.container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 2em auto;
    flex-grow: 1;
    width: 80%;
}

.container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 1.25em;
    flex-grow: 1;
    width: 80%;
    margin: 3em auto;
}

.right-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1em;
}

a {
    color: #5281EB;
    text-decoration: none;
    font-family: "Arimo", sans-serif;
}

.header-text {
    font-size: 3em;
    margin: 0;
}



.section-1 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
}


/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px;
    border-radius: 0.5em;
    position: relative;
}

.close-button {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
}

.modal-content h2 {
    margin-top: 0;
    text-align: center;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.modal-content input[type="email"] {
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 0.3125em;
}

.modal-content .cta-button {
    align-self: center;
    width: 50%;
}

/* Lightbox Styles */
.lightbox {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1001; /* Above modal */
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close-lightbox {
    position: absolute;
    top: 30px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close-lightbox:hover,
.close-lightbox:focus {
    color: #bbb;
    text-decoration: none;
}

/* Scrolling Text Styles */
.scrolling-text {
    font-family: "Arimo", sans-serif;
    position: fixed;
    top: 31%;
    left: 100%; /* Start off-screen to the right */
    white-space: nowrap;
    font-size: 20em; /* Adjust as needed */
    font-weight: bold;
    color: #5281EB;
    text-align: center;
    transform: translateX(-3%);
    animation: scroll-left 50s linear infinite;
    z-index: 999; /* Ensure it's above other content but below modals */
    pointer-events: none; /* Allows clicks to pass through */
}

@keyframes scroll-left {
    100% {
        left: -100%; /* Start from the right */
    }
    0% {
        left: 100%; /* Move to the left, off-screen */
    }
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container-1, .container-2, .images, .container-3, .container-5 {
        width: 90%;
    }

    .header-text {
        font-size: 2em;
    }

    .cta-button, .cta-button-2 {
        padding: 0.5em;
        font-size: 0.875em;
    }

    .images {
        flex-direction: column;
        align-items: center;
    }

    .lightbox-content {
        width: 90%;
    }

    .scrolling-text {
        font-size: 3em;
        animation: scroll-left 20s linear infinite; /* Faster on smaller screens */
    }
}
